/* This stylehseet contains styles for the scenario briefing. */

#briefing {
	width: 50em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/* the "from" field at the top of the briefing */
#briefing > header {
	margin-bottom: 200px;
	font-size: 180%;
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 3px 3px 0 black;
}

/* the link to the section that displays images of the battlefield scenery */
#briefing #show-scenery {
	display: block;
	margin: auto;
	padding: 5px 10px 5px 10px;
}

