/* This stylesheet contains all the styles for the introductory animation
 * sequence shown to the user before the main message. */


/* the background of the introductory animation sequence, which hides the main
 * content until the introductory animations are complete */
#intro-aria {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: black;
	font-size: 200%;
}

/* the individual elements that compose the introductory animation sequence
 * should have this class */
#intro-aria > * {
	transition: all 1.0s ease;
	opacity: 0.0;
	position: absolute;
	top: 40%;
	left: 45%;
}

/* when an animation element's turn to become visible arrives, this class will
 * be set on it */
#intro-aria > *.active {
	visibility: visible;
	opacity: 0.8;
	top: 55%;
}

/* these elements of the introductory animation sequence need additional custom
 * styling */
.intro-success { color: green; }
.intro-alert {
	color: red;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: 30px;
}
#intro-password { margin-left: 1em; }

