/* This stylesheet contains all the styles for the scenery pictures the viewer
 * can browse. */


/* the background of the scenery pictures, which hides the main
 * content */
#scenery {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 101;
	background-color: black;
	padding: 5px;
}

#scenery > * {
	margin: 15px auto 15px auto;
}

#scenery #hide-scenery {
	position: absolute;
	left: 0;
	top: 0;
	padding: 30px;
	cursor: pointer;
}

#scenery-controls input {
	display: none;
}
#scenery-controls label {
	margin: auto 10px auto 10px;
	padding: 5px 10px 5px 10px;
	border: 1px solid white;
}
#scenery-controls label.selected {
	border: 2px solid #EEAD0E;
	color: #EEAD0E;
}

#scenery-image-container {
	border: 2px solid #EEAD0E;
	position: relative;
	height: 660px;
	width: 1110px;
}

#scenery-image-container > p {
	z-index: 102;
	display: none;
	position: absolute;
	bottom: 1em;
	left: 155px;
	width: 800px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 15px 10px 15px;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#scenery-image-container > img:not(:first-child) {
	display: none;
}

#scenery-image-container > img {
	height: 600px;
	position: absolute;
	top: 30px;
	left: 30px;
}
#scenery-image-container > img.portrait {
	left: 384px;
}

